src/lib/n8n-templates/custom-webhook.json
{
  "name": "GetSignalHooks — Custom Webhook Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gsh-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "gsh-custom-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-action",
              "leftValue": "={{$json.body.action}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            {
              "value": "import_leads",
              "output": 0
            },
            {
              "value": "generate_hooks",
              "output": 1
            },
            {
              "value": "trigger_followup",
              "output": 2
            }
          ]
        },
        "value": "={{$json.body.action}}",
        "fallbackOutput": "extra"
      },
      "id": "route-action",
      "name": "Route by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.GSH_API_BASE}}/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leads\": {{JSON.stringify($json.body.leads || [])}}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "import-leads",
      "name": "Import Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.GSH_API_BASE}}/api/generate-hooks-batch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": {{JSON.stringify($json.body.urls || [])}}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "generate-hooks",
      "name": "Generate Hooks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.GSH_API_BASE}}/api/leads/send-followup",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"lead_id\": \"{{$json.body.lead_id}}\",\n  \"step\": {{$json.body.step || 0}},\n  \"mode\": \"{{$json.body.mode || 'draft'}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 60000
        }
      },
      "id": "trigger-followup",
      "name": "Trigger Follow-Up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 500],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"success\",\n  \"action\": \"{{$node['Route by Action'].json.body.action}}\",\n  \"result\": {{JSON.stringify($json)}}\n}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Invalid payload. Required: { action: 'import_leads' | 'generate_hooks' | 'trigger_followup', ... }\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [440, 500]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Unknown action: {{$json.body.action}}. Supported: import_leads, generate_hooks, trigger_followup\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-unknown",
      "name": "Respond Unknown Action",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [660, 700]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Route by Action",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Action": {
      "main": [
        [
          {
            "node": "Import Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Hooks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Trigger Follow-Up",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Unknown Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Import Leads": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Hooks": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Follow-Up": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GetSignalHooks",
      "id": "gsh-custom"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "getsignalhooks-custom-webhook"
  },
  "pinData": {}
}
