src/lib/n8n-templates/hubspot-sync.json
{
  "name": "GetSignalHooks — HubSpot CRM Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.GSH_API_BASE}}/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "cold"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-gsh-leads",
      "name": "Fetch GSH Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{$json.leads.length}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-leads",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split Out Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filterGroups\": [{\n    \"filters\": [{\n      \"propertyName\": \"email\",\n      \"operator\": \"EQ\",\n      \"value\": \"{{$json.email}}\"\n    }]\n  }],\n  \"limit\": 1\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "search-hubspot-contact",
      "name": "Search HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_AUTH",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{$json.total}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "contact-exists",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts/{{$json.results[0].id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"gsh_status\": \"{{$node['Split Out Leads'].json.status}}\",\n    \"gsh_sequence_step\": \"{{$node['Split Out Leads'].json.sequence_step}}\",\n    \"gsh_last_contacted\": \"{{$node['Split Out Leads'].json.last_contacted_at || ''}}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "update-hubspot-contact",
      "name": "Update HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_AUTH",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.hubapi.com/crm/v3/objects/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"properties\": {\n    \"email\": \"{{$node['Split Out Leads'].json.email}}\",\n    \"firstname\": \"{{$node['Split Out Leads'].json.name?.split(' ')[0] || ''}}\",\n    \"lastname\": \"{{$node['Split Out Leads'].json.name?.split(' ').slice(1).join(' ') || ''}}\",\n    \"jobtitle\": \"{{$node['Split Out Leads'].json.title || ''}}\",\n    \"company\": \"{{$node['Split Out Leads'].json.company_name || ''}}\",\n    \"website\": \"{{$node['Split Out Leads'].json.company_website || ''}}\",\n    \"gsh_status\": \"{{$node['Split Out Leads'].json.status}}\",\n    \"gsh_sequence_step\": \"{{$node['Split Out Leads'].json.sequence_step}}\",\n    \"gsh_source\": \"getsignalhooks\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "create-hubspot-contact",
      "name": "Create HubSpot Contact",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_AUTH",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-leads-end",
      "name": "No Leads — End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "url": "={{$vars.GSH_API_BASE}}/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leads\": [{\n    \"email\": \"{{$json.properties.email}}\",\n    \"name\": \"{{($json.properties.firstname || '') + ' ' + ($json.properties.lastname || '')}}\",\n    \"title\": \"{{$json.properties.jobtitle || ''}}\",\n    \"company_name\": \"{{$json.properties.company || ''}}\",\n    \"company_website\": \"{{$json.properties.website || ''}}\",\n    \"source\": \"hubspot\"\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "sync-to-gsh",
      "name": "Sync to GSH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hubapi.com/crm/v3/objects/contacts?limit=100&properties=email,firstname,lastname,jobtitle,company,website,gsh_source&associations=&archived=false",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "filterGroups",
              "value": "=[{\"filters\":[{\"propertyName\":\"gsh_source\",\"operator\":\"NOT_HAS_PROPERTY\"}]}]"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-hubspot-new",
      "name": "Fetch New HubSpot Contacts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "HUBSPOT_AUTH",
          "name": "HubSpot API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-contacts",
              "leftValue": "={{$json.results.length}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-new-contacts",
      "name": "Has New Contacts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split-contacts",
      "name": "Split Out Contacts",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, -100]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch GSH Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch New HubSpot Contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GSH Leads": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Split Out Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads — End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Leads": {
      "main": [
        [
          {
            "node": "Search HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search HubSpot Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "Update HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create HubSpot Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New HubSpot Contacts": {
      "main": [
        [
          {
            "node": "Has New Contacts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New Contacts?": {
      "main": [
        [
          {
            "node": "Split Out Contacts",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Out Contacts": {
      "main": [
        [
          {
            "node": "Sync to GSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GetSignalHooks",
      "id": "gsh-hubspot"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "getsignalhooks-hubspot-sync"
  },
  "pinData": {}
}
