src/lib/n8n-templates/salesforce-sync.json
{
  "name": "GetSignalHooks — Salesforce CRM Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.GSH_API_BASE}}/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "cold"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-gsh-leads",
      "name": "Fetch GSH Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-leads",
              "leftValue": "={{$json.leads.length}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-leads",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "fieldToSplitOut": "leads",
        "options": {}
      },
      "id": "split-leads",
      "name": "Split Out Leads",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [660, 200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.SF_INSTANCE_URL}}/services/data/v59.0/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=SELECT Id, Email, FirstName, LastName, Title, Company FROM Lead WHERE Email = '{{$json.email}}' LIMIT 1"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "search-sf-lead",
      "name": "Search Salesforce Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF_AUTH",
          "name": "Salesforce API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lead-exists",
              "leftValue": "={{$json.totalSize}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "lead-exists",
      "name": "Lead Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1100, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$vars.SF_INSTANCE_URL}}/services/data/v59.0/sobjects/Lead/{{$json.records[0].Id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"GSH_Status__c\": \"{{$node['Split Out Leads'].json.status}}\",\n  \"GSH_Sequence_Step__c\": {{$node['Split Out Leads'].json.sequence_step}},\n  \"GSH_Last_Contacted__c\": \"{{$node['Split Out Leads'].json.last_contacted_at || ''}}\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "update-sf-lead",
      "name": "Update Salesforce Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF_AUTH",
          "name": "Salesforce API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$vars.SF_INSTANCE_URL}}/services/data/v59.0/sobjects/Lead",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"Email\": \"{{$node['Split Out Leads'].json.email}}\",\n  \"FirstName\": \"{{$node['Split Out Leads'].json.name?.split(' ')[0] || ''}}\",\n  \"LastName\": \"{{$node['Split Out Leads'].json.name?.split(' ').slice(1).join(' ') || 'Unknown'}}\",\n  \"Title\": \"{{$node['Split Out Leads'].json.title || ''}}\",\n  \"Company\": \"{{$node['Split Out Leads'].json.company_name || 'Unknown'}}\",\n  \"Website\": \"{{$node['Split Out Leads'].json.company_website || ''}}\",\n  \"LeadSource\": \"GetSignalHooks\",\n  \"GSH_Status__c\": \"{{$node['Split Out Leads'].json.status}}\",\n  \"GSH_Sequence_Step__c\": {{$node['Split Out Leads'].json.sequence_step}}\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "create-sf-lead",
      "name": "Create Salesforce Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF_AUTH",
          "name": "Salesforce API"
        }
      }
    },
    {
      "parameters": {},
      "id": "no-leads-end",
      "name": "No Leads — End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [660, 400]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$vars.SF_INSTANCE_URL}}/services/data/v59.0/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "SELECT Id, Email, FirstName, LastName, Title, Company, Website FROM Lead WHERE LeadSource != 'GetSignalHooks' AND CreatedDate = LAST_N_DAYS:1 LIMIT 100"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 30000
        }
      },
      "id": "fetch-sf-new",
      "name": "Fetch New SF Leads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "SF_AUTH",
          "name": "Salesforce API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-new-leads",
              "leftValue": "={{$json.totalSize}}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-new-sf-leads",
      "name": "Has New SF Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [440, -100]
    },
    {
      "parameters": {
        "fieldToSplitOut": "records",
        "options": {}
      },
      "id": "split-sf-records",
      "name": "Split Out Records",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [440, -100]
    },
    {
      "parameters": {
        "url": "={{$vars.GSH_API_BASE}}/api/leads",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"leads\": [{\n    \"email\": \"{{$json.Email}}\",\n    \"name\": \"{{($json.FirstName || '') + ' ' + ($json.LastName || '')}}\",\n    \"title\": \"{{$json.Title || ''}}\",\n    \"company_name\": \"{{$json.Company || ''}}\",\n    \"company_website\": \"{{$json.Website || ''}}\",\n    \"source\": \"salesforce\"\n  }]\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 15000
        }
      },
      "id": "sync-to-gsh",
      "name": "Sync to GSH",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, -100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "GSH_AUTH",
          "name": "GetSignalHooks API"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch GSH Leads",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch New SF Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch GSH Leads": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Split Out Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads — End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Leads": {
      "main": [
        [
          {
            "node": "Search Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Salesforce Lead": {
      "main": [
        [
          {
            "node": "Lead Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Exists?": {
      "main": [
        [
          {
            "node": "Update Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Salesforce Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New SF Leads": {
      "main": [
        [
          {
            "node": "Has New SF Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New SF Leads?": {
      "main": [
        [
          {
            "node": "Split Out Records",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Out Records": {
      "main": [
        [
          {
            "node": "Sync to GSH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "GetSignalHooks",
      "id": "gsh-salesforce"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "getsignalhooks-salesforce-sync"
  },
  "pinData": {}
}
